<div id="banner" class="page-header">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ vsebina.naslov }}<small>{{ vsebina.podnaslov }}</small></h1>
        </div>
    </div>
</div>