<navigacija></navigacija>

<div class="container">
    <glava vsebina="vm.glavaStrani"></glava>
    
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p class="lead">Ste že registrirani uporabnik? Prosim <a href="/prijava?stran={{ vm.prvotnaStran }}">prijavite</a> se.</p>
            <form ng-submit="vm.posiljanjePodatkov()">
                <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{vm.napakaNaObrazcu}}</vm></div>
                <div class="form-group">
                    <label for="name">Ime in priimek</label>
                    <input type="text" class="form-control" id="ime" placeholder="vnesite svoje ime in priimek" ng-model="vm.prijavniPodatki.ime">
                </div>
                <div class="form-group">
                    <label for="email">e-mail</label>
                    <input type="email" class="form-control" id="elektronskiNaslov" placeholder="vnesite svoj e-naslov" ng-model="vm.prijavniPodatki.elektronskiNaslov">
                </div>
                <div class="form-group">
                    <label for="password">Geslo</label>
                    <input type="password" class="form-control" id="geslo" placeholder="Geslo" ng-model="vm.prijavniPodatki.geslo">
                </div>
                <button type="submit" class="btn btn-default">registriraj!!!</button>
            </form>
        </div>
    </div>
    <noga></noga>
</div>