mixin prikaziOceno(ocena)
    for(var i=1; i < location.rating; i++) {
        span.glyphicon.glyphicon-star
    }
    for(i= location.rating; i<5; i++) {
        span.glyphicon.glyphicon-star-empty
    }
    
mixin formatirajDatum(nizDatum)
    var datum = new Date(nizDatum);
    var imenaMesecev = ["januar", "februar", "marec", "april", "maj", "junij", "julij", "avgust", "september", "oktober", "november", "december"];
    var d = date.getDate();
    var m = imenaMesecev[datum.getMonth()];
    var l = datum.getFullYear();
    var odgovor = d + '. ' + m + ', ' + l;
    = odgovor