body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.komentar {
  padding-bottom: 5px;
}

.panel-body.komentar-vsebnik {
  padding-top: 0;
}

.komentar-glava {
  margin-bottom: 10px;
}

.komentarAvtor {
  margin: 0 5px;
}

.komentarDatum {
  color: #ccc;
}

.lastnost {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

label[for=filter] {
  margin-right: 10px;
}

#filter {
  margin-bottom: 20px;
}